body { background: #aeca4; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-search-0 { color: #c9c00e; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #70fd04; font-size: 15px; margin-bottom: 5px; }
.block-cart-2 { color: #53dc37; font-size: 21px; margin-bottom: 5px; }
.block-database-3 { color: #9affb7; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #71904c; font-size: 17px; margin-bottom: 5px; }
.block-cart-5 { color: #701721; font-size: 13px; margin-bottom: 5px; }
.block-invoice-6 { color: #24cb54; font-size: 18px; margin-bottom: 5px; }